{
  "presets": ["next/babel"],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-optional-chaining",
    "graphql-tag",
    [
      "styled-components",
      {
        "displayName": false,
        "fileName": false,
        "ssr": true
      }
    ]
  ]
}
